#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #242424; */
  transition: background-color 1s ease-in-out;
  color: #fff;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  
}

.form {
display: flex;
  align-items: stretch;
  flex-direction: column;
  margin-top: 2rem;
}

.form label {
  margin-right: 1rem;

  /* White text */
}

.name-input {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px solid #ffffff68;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.name-input::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 1rem;
}

.greeting-display {
  font-size: 1.5rem;
}

.clock {
  font-size: 3rem;
  margin: 0.5rem;
}

.submit-button {
    background-color: #419444;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
  background-color: #54bd57;
  transition: 0.3 ease-in-out;
}


h1 {
  margin: 0;
}

@media only screen and (max-width: 400px) {
  .greeting-display {
    font-size: 1rem;
  }

  .clock {
    font-size: 1.5rem;
  }

  .name-input {
    padding: 0;
    font-size: 1;
  }

}



@media only screen and (max-height: 500px) {
  .greeting-display {
    font-size: 1rem;
  }

  .clock {
    font-size: 1.5rem;
  }

  .name-input {
    font-size: 1em;
    padding: 0;
  }

}


